@media (max-width:820px)
{
  h1
{
    font-size: 40px!important;
    line-height: 40px;
}
h2
{
    font-size: 35px !important;
    line-height: 40px;
}
h4
{
    font-size: 24px;
}
h6
{
   font-size: 12px!important;
   font-weight: 700;
}
p
{
    font-size: 16px;
    color: #465b52;
    margin: 12px 0 20px 0px;
}
  .section-p1
{
    padding: 20px 20px;
}
#header
{
  padding: 10px 10px ;
    position: sticky;
    top: 0;
    left: 0;
}

    #navbar
    {
        display: flex ;
        align-items: flex-start;
        justify-content: flex-start;
        flex-direction: column;
        position: fixed;
        top: 0;
        right: -300px;
        height: 100vh;
        width: 300px;
        background-color: #e3e6f3;
        box-shadow: 0 40px 60px rgba(0, 0, 0, .1);
        padding: 80px 0 0 10px;    
        transition: .3s;        
    }    
    #navbar.active
    {
        right: 0px;
    }
    #navbar li
    {
      margin-bottom: 25px;
    }
    #mobile
    {
      display: flex;
      align-items: center;
    }
    #mobile i
    {
      color: black;
      font-size: 24px;
      padding-left: 20px;
      position: relative;
    }
   .mobileCount
   {
    position: absolute;
      color: red;
      right: 45% ;
      top: -50%;

    }

    #navbar #close    {
        position: absolute;
        top: 30px;
        left: 30px;
        color: black;
        font-size: 30px;
        display: initial;
    }
   #lg-bg
   {
    display: none;
   }
   #hero
   {
    height: 70hv;
    padding: 0 80px;
    background-position: top 30% right 35%;
   }
   #feature 
{
    justify-content: center;
    padding: 20px 20px;
}
#feature .fe-box
{
  margin: 10px 10px;
 }
.produc-container
{
  justify-content: center;
  margin: 10;
}
#product1 .pro
{
  margin: 5px ;
}
#pannar
{
  height: 35vh;
  font-weight: 500;
  font-size: 20px;
}
#sm-banner .banner1,#sm-banner .banner2
{
    min-width: 100% ;
    height: 45vh;   
    padding: 10px;
    background-position: top 0% right  4% ;

}
#sm-banner
{
  padding: 0 40px;  
}
#sm-banner h2,#pannar h2
{
  font-size: 25px;
}

#sale-collection .sale
{
  width: 32%!important;
  margin-top: 10px; 
  background-position: top 5% right  40% ;
}



#sale-collection
{
  padding: 0 40px;
}
#newSletters .form
{
  width: 70%;
}

}

@media (max-width: 500px) {

.filter-btn
{
    color: black;
    margin: 10px 10px;
    font-size: 10px;
    font-weight: 400;
    letter-spacing: 1px;

}
.remove-button,.quantity-input
{
  width: 30px ;
  font-size: 7px;
  padding: 0;
  margin: 0;
}   
.btn-purchase
{
  width: 90px;
  padding: 4px;
}
#header
{
  padding: 10px 30px ;

}
h2{
  font-size: 32px;
}
h1{
  font-size: 39px;
}
#hero
{
  padding : 0 20px !important;
  background-position:55% !important ;
}
#feature .fe-box
{
  width: 155px;
  margin: 0 0 14px 0px;
 }
 #pannar
{
  height: 30vh;

}
#pannar h2
{
  font-size: 25px;
}

#sale-collection .sale
{
  width:100% !important;
 
}
#newSletters .form
{
  width: 100%;
}
#about-head
{
    flex-direction: column;
}
#about-head img
{
    width: 100%;
}
#about-app .video video
    {
        width: 100%;
        height: 100%;
        border-radius: 30px;
    }
/* cart */
#productdetail 
{
   display: flex;
   flex-direction: column;  
}
#productdetail .single-pro-img
{
    width: 100%;
    margin: 0px auto;
}
.single-pro-detail  h6,.single-pro-detail  h5
{
   padding:  0  ;
   margin: 10;
   color: #088178;
}
#productdetail .single-pro-detail input
{
    width: 30px;
    height: 30px;
    padding-left: 0px;
    font-size: 12px;
    text-align: center;
}
.single-pro-detail div
{
  display: flex;
  flex-direction: column;
}
/* tabel */
#cartTable th,#cartTable #cartBody
{
  font-size: 9px;
}
/* tabel */

#productdetail .single-pro-detail select
{
  display: inline;
}

#productdetail .single-pro-detail p
{
  width: 100%;
}
/*End cart */
/* .sticky */
.sticky
{
  height: 30px;
}
.sticky div
{
  font-size: 10px;
}

  }